
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #000;
    color: white;

}
h1,h2,h3,h4,h5,h6 {
  font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
}

h1 {
  @apply text-[32px] md:text-[40px] lg:text-[56px] font-bold leading-[120%]  md:max-w-3xl mx-auto text-center text-[#c9d3df]
}

p,span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

p {
  @apply text-[#a2acbe] leading-[150%]  max-w-3xl text-[28px]  
}

.bg-stars {
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?q=80&w=2093&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  min-height: 100vh; 
  background-size: cover;
  background-position: center; 

}
.bg-sunlight{
    background-image: url("https://images.unsplash.com/photo-1615232934320-87b37b0ff5ab?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
    min-height: 100vh; 
    background-size: cover;
    background-position: center; 
   
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

  /* scrollbar styles */
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* btn 2 */


.btn-loader {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(255 255 255/50%) 30%,#0000 0 70%,rgb(255 255 255/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(255 255 255/25%) 30%,#0000 0 70%,rgb(255 255 255/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.btn-loader::before,
.btn-loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.btn-loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}


/* instagram logo color */
.instagram-gradient:hover{
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


.gradient {
  background: linear-gradient(180deg, rgba(66, 40, 102, .6) -15.9%, rgba(30, 31, 72, .355) 40.82%, rgba(52, 19, 121, 0) 122.75%);
    display: inline-block;
    filter: blur(128px);
    height: 80%;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 80%;
    z-index: -99;
}

.gradient-indigo {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

  display: inline-block;
  filter: blur(128px);
  right: 50%;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  width: 80%;
  z-index: -99;
}

.gradient-border-purple {
  border:1px solid #c59efa ;

}

.gradient-border-blue {
  border:1px solid #8ec5fc ;
}

.gradient-blue {
    background-image: linear-gradient(120deg, #e0c3fc 50%, #8ec5fc 100%);
    display: inline-block;
    filter: blur(128px);
    left: 50%;
    overflow: hidden;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 80%;
    z-index: -99;
}

.gradient-blue-bg {
  background: linear-gradient(180deg, rgba(22, 17, 88, 0.6) -15.9%, rgba(34, 35, 128, 0.355) 40.82%, rgba(16, 62, 163, 0) 122.75%);
  display: inline-block;
  filter: blur(128px);
  height: 80%;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  width: 80%;
  z-index: -99;
}


.gradient-blue-2 {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: inline-block;
  filter: blur(128px);
  height: 80%;
  left: 20px;
  overflow: hidden;
  top: 0%;
  vertical-align: middle;
  width: 80%;
}


.gradient-text {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(0deg, #c59efa, #cc9efa 20%, #b6a4f5 40%, #8ea9f3 100%, #8ee7f3 0);
  -webkit-background-clip: text;
  border-radius: 8px;
  padding: 2px 8px;
}


.gradient-text-blue {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  border-radius: 8px;
  padding: 2px 8px;
}


.gradient-purple-btn {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    display: block;
}

.gradient-purple-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


.gradient-blue-btn {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: block;
}

.gradient-blue-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-bg {
  align-items: center;
  background: linear-gradient(122.32deg, #5c5cd6 -2.79%, #6952e0 86.74%);
  border-color: #8f98fa #7f8afa #6b77f9;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 16px #00000026;
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  transition: all .12s ease-in-out;
}